<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
<!-- NavBar Menu Start -->
      <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">
          <!--  <div class="navbar-header">
              <img src="http://blog.madeincheztoi.com/wp-content/uploads/2015/08/logo_made_in_chez_toi_turquoise.png" style="height: 45px;  width: 45px; margin-right: 50px;">
            </div> -->
            <div class="navbar-collapse navbar-ex2-collapse">
              <ul class="nav navbar-nav nav-tabs nav-justified">
                <li class="active"><a href="/">Home</a></li>
                <li class=""><a class='navigate' href="/offres">Offres</a></li>
                <li class=""><a href="/photos">Photos</a></li>
                <li class=""><a href="/livreor">Livre d'or</a></li>
                <li class=""><a href="/contact">Contact</a></li>
                <li class=""><a href="/boutique">Boutique</a></li>
                <li class=""><a href="http://blog.madeincheztoi.com/">Blog</a></li>
                <li class=""><a href="/profile/">Mon espace</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class=""><a href="/admin">Gestion</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
<!-- NavBar Menu End -->



      <div class="container-fluid">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
      </div>
    </body>
</html>
